@font-face {
  font-family: 'StandardCT-Regular';
  src: url('/fonts/StandardCT-Regular.woff2') format('woff2'),
       url('/fonts/StandardCT-Regular.woff') format('woff');
       font-weight: normal;
}
@font-face {
  font-family: 'StandardCT-Light';
  src: url('/fonts/StandardCT-Light.woff2') format('woff2'),
       url('/fonts/StandardCT-Light.woff') format('woff');
       font-weight: lighter;
}

@font-face {
  font-family: 'StandardCT-Bold';
  src: url('/fonts/StandardCT-Bold.woff2') format('woff2'),
       url('/fonts/StandardCT-Bold.woff') format('woff');
       font-weight: bold;
}

html {
  height: 100%;
  font-family: 'StandardCT';
  &.no-js body::before {
    content: 'You should probably enable or upgrade javascript';
  }
}

body {
  height: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: StandardCT-Regular;
}

ul {
  margin: 0;
  padding: 0;
}

header {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 5%;
width: 100%;
position: fixed;
z-index: 1;
margin-top: 20px;
}


section {
  display: block;
  position: relative;
}

footer {
  background-color: #83E5B2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

footer ul {
  list-style-type: none;
  text-align: center;
}
footer ul li {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer ul li img {
  height: 75px;
}
