@import 'base.css';

.content {
  margin: 0 auto;
  background-color: white;
    -webkit-overflow-scrolling: touch;
}

.logo img {
  width: 100px;
}

#splash {

}

#splash {
  height: 100vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#logo .entry img {
width: 100px;
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.callout {
  color: white;
  font-family: 'StandardCT';
  font-weight: normal;
}

.story {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}


@media only screen and (min-width: 768px) {
  .story {
    text-align: left;
  }
}


.tall {
  height: 100vh;
}

.short {
  height: 50vh;
}


.header-text {
  color: #83E5B2;
  font-size: 6vw;
  padding: 10px;
}

@media only screen and (max-width: 480px){
  .header-text {
    font-size: 28.8px;
  }

}

@media only screen and (min-width: 768px){
  .header-text {
    font-size: 46px;
  }

}

.story .description {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}



.hidden {
  display: none;
}

.callout-container {
height: 100%;
width: 100%;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
}

.callout-container .header-text {
  color: white;
}


.pressure-tab .description {
  font-size: 40px;
  opacity: 0;
  font-size: 40px;

  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
  display: none;
}

.tab {
height: 200px;
display: block;
position: relative;
margin: auto;
}

.pressure-circle {
  transition: all 1s cubic-bezier(0.42,0,0.58,1);
  transform: scale(1);
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  background-color: #3498db;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-description {
  opacity: 1;
  z-index: 10;
}

.show-description .description {

}
