@import 'base.css';

.content {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

.logo img {
  width: 100px;
}

#splash .entry {
  height: 100vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#logo .entry img {
width: 100px;
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.callout {
  color: white;
  font-size: 40px;
  font-family: 'StandardCT';
  font-weight: normal;
}

.story {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  display: block;
  position: relative;
}

.story-container {
  display: block;
}

@media only screen and (min-width: 768px) {
  .story {
    text-align: left;
  }
}


.tall {
  height: 100vh;
}

.short {
  height: 50vh;
  display: inline;
}

.header-text {
  color: #83E5B2;
  font-size: 60px;
}

.description {
  font-size: 20px;
}


/* Parallax Scroll */

.container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 110vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.parallax-container {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 110vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  background-size: cover;
}
