@import 'base.css';

.content {
  margin: 0 auto;
  background-color: white;
    -webkit-overflow-scrolling: touch;
}

.logo img {
  width: 100px;
}

#splash {

}

#splash {
  height: 100vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#logo .entry img {
width: 100px;
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.callout {
  color: white;
  font-family: 'StandardCT';
  font-weight: normal;
}

.story {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}


@media only screen and (min-width: 768px) {
  .story {
    text-align: left;
  }
}


.tall {
  height: 100vh;
}

.short {
  height: 50vh;
}


.header-text {
  color: #83E5B2;
  font-size: 6vw;
  padding: 10px;
}

@media only screen and (max-width: 480px){
  .header-text {
    font-size: 28.8px;
  }

}

@media only screen and (min-width: 768px){
  .header-text {
    font-size: 46px;
  }

}

.description {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}





.hidden {
  display: none;
}

.callout-container {
height: 100%;
width: 100%;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
}

.callout-container .header-text {
  color: white;
}
