<script type="text/javascript">
  $('.pressure-circle').pressure ({
    start: function(event){
      console.log("start")
    },
    change: function(force, event){
      $(this).css('transform', 'scale(40)');
      $(this).addClass('active');
      $(this).next().addClass('show-description');
      console.log("change");
    },
    end: function(){
       $(this).css('transform', 'scale(1)');
       $(this).removeClass('active');
       $(this).next().removeClass('show-description');
       console.log("end");
    },
    unsupported: function(){
      console.log("unsupported")
    }
  });


  {{#each data.contentTypes.product }}
  $(function() {
  $('#{{fields.formKeep}}').submit(function(event) {
    event.preventDefault();
    e.stopImmediatePropagation();

    var formEl = $(this);
    var submitButton = $('input[type=submit]', formEl);

    $.ajax({
      type: 'POST',
      url: formEl.prop('action'),
      accept: {
        javascript: 'application/javascript'
      },
      data: formEl.serialize(),
      beforeSend: function() {
        submitButton.prop('disabled', 'disabled');
      }
    }).done(function(data) {
      submitButton.prop('disabled', false);
    });
  });
});

{{/each}}

</script>
