<script type="text/javascript">
  $('.pressure-circle').pressure ({
    start: function(event){
      console.log("start")
    },
    change: function(force, event){
      $(this).css('transform', 'scale(40)');
      $(this).addClass('active');
      $(this).next().addClass('show-description');
      console.log("change");
    },
    end: function(){
       $(this).css('transform', 'scale(1)');
       $(this).removeClass('active');
       $(this).next().removeClass('show-description');
       console.log("end");
    },
    unsupported: function(){
      console.log("unsupported")
    }
  });




$('#2c3df9f064a7').submit(function(event) {
  window.href = 'thanks-botanic.html'
});

$('#50a2e70e31c0').submit(function(event){
  window.href = 'thanks-cosmic.html'
});

$('.pressure-tab').each(function() {
  $(this).find('.pressure-circle').each(function(el) {
    $(this).addClass('item-' + (el + 1));
  });
});

</script>
