{{#each data.contentTypes.section }}
{{sortBy.order}}
<section class="{{#if fields.fullHeight }}tall{{ else }}short{{/if}} story">
  <div {{#if fields.background }}class="callout-container" style="background-image: url('{{fields.background.fields.file.url}}');"{{ else }}class="story-container" {{/if}}>
    <div class="header-text">
      {{fields.headerText}}
    </div>
    <!-- this div will be hidden if a background image is present -->
    <div class="description {{#if fields.background }}hidden{{ else }}{{/if}}">
      <span>{{fields.description}}</span>
    </div>
  </div>
</section>
{{/each}}

<section class="pressure-tab">
  {{#each data.contentTypes.pressureTab }}
  {{sortBy.order}}
  <div class="tab">
    <div class="title">{{fields.title}}</div>
    <div class="pressure-circle {{array.index}}"></div>
    <div class="description">{{fields.description}}</div>
  </div>
  {{/each}}
</section>

<section class="product">
  <div class="product-wrapper">

    {{#each data.contentTypes.product }}

    {{sortBy.order}}

    <div class="product-container">
      <div class="title-slide" style="background-image: url('{{fields.background.fields.file.url}}');">
        <div class="title">{{fields.title}}</div>
      </div>
      <div class="description">{{fields.description}}</div>
      <div class="pricing">
        <ul>
          <li>Twin XL <hr> ${{fields.twin}}</li>
          <li>Queen <hr> ${{fields.queen}}</li>
          <li>King <hr> ${{fields.king}}</li>
        </ul>
      </div>
      <div class="launch-date">
        {{fields.launchDate}}
      </div>
      <div class="signup">
        <form id="{{fields.formKeep}}" action="https://formkeep.com/f/{{fields.formKeep}}" method="POST" accept-charset="UTF-8">
          <input type="hidden" name="utf8" value="✓">
          <div class="input-container">
          <input type="email" id="email-address" name="email">
          <div class="input-text">{{fields.inputText}}</div>
          <button type="submit" style="background-image:url('{{fields.inputLoader.fields.file.url}}')"><i class="arrow right"></i></button>
          </div>
        </form>
        <div id="result-{{fields.formKeep}}"></div>
      </div>
    </div>

    {{/each}}
  </div>
</section>
