{{#each data.contentTypes.section }}
<section class="{{#if fields.fullHeight }}tall{{ else }}short{{/if}} story">
  <div class="{{#if fields.background }}callout-container{{ else }}story-container{{/if}}">
    <div class="header-text">
      <h2>{{fields.headerText}}</h2>
    </div>
    <div class="description {{#if fields.background }}hidden{{ else }}{{/if}}">
      <span>{{fields.description}}</span>
    </div>
  </div>
</section>
{{/each}}

{{#each data.contentTypes.product }}
<section class="product">
  <div> </div>
</section>
{{/each}}
