{{#each data.contentTypes.section }}
<section class="{{#if fields.fullHeight }}tall{{ else }}short{{/if}} story">
  <div {{#if fields.background }}class="callout-container" style="background-image: url('{{fields.background.fields.file.url}}');"{{ else }}class="story-container" {{/if}}>
    <div class="header-text">
      {{fields.headerText}}
    </div>
    <!-- this div will be hidden if a background image is present -->
    <div class="description {{#if fields.background }}hidden{{ else }}{{/if}}">
      <span>{{fields.description}}</span>
    </div>
  </div>
</section>
{{/each}}

{{#each data.contentTypes.product }}
<section class="product">
  <div> </div>
</section>
{{/each}}
