<html class="no-js">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ fingerprint.[assets/page.css] }}"/>
    <script src="{{ fingerprint.[assets/immediate.js] }}"></script>
    <script src="{{ fingerprint.[assets/page.js] }}" defer></script>

    <style>

  {{#each data.contentTypes.splash }}
    @media only screen and (max-width: 768px) {
#splash {
  background-image: url('{{fields.background.fields.file.url}}');
  }
}
@media only screen and (min-width: 600px) {
#splash {
background-image: url('{{fields.desktopBackground.fields.file.url}}');
}
}
  {{/each}}
    </style>
  </head>
  <body>
      {{> nav}}
      {{> header}}

    <div class="container">
        <section id="splash">
          {{#each data.contentTypes.splash }}
          <div class="entry">
            <div class="text-container">
              <div class="callout">
                {{fields.callout}}
              </div>
            </div>
          </div>
          {{/each}}
        </section>
      </div>
          <div class="content">
            {{> sections}}
          </div>
      {{> footer}}
        </div>
      {{> endscripts}}
  </body>
</html>
